name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  aarch64_job:
    # The host should always be Linux
    runs-on: ubuntu-18.04
    name: Build on ubuntu-18.04 aarch64
    steps:
      - uses: actions/checkout@v2.1.0    
      - uses: uraimo/run-on-arch-action@v2
        name: Run commands
        id: runcmd
        with:
          arch: aarch64
          distro: ubuntu18.04

          # Not required, but speeds up builds by storing container images in
          # a GitHub package registry.
          githubToken: ${{ github.token }}
          
          #env
          env: |
            DOCKER_USER: ${{secrets.DOCKER_USER}}
            DOCKER_PW: ${{secrets.DOCKER_PW}}

          # Set an output parameter `uname` for use in subsequent steps
          run: |
            docker login -u $DOCKER_USER -p $DOCKER_PW
            docker build . --file Dockerfile --tag thomaslty16/baidunetdisk-docker:$(date +%s)
            docker push thomaslty16/baidunetdisk-docker
